.home {
    padding-top: 10vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left>img {
    max-width: 500px;
    max-height: 100vh;
    height: 90vh;
    width: 80vw;
    filter: grayscale(100%);
    opacity: .5;
    vertical-align: middle;
}

.right {
    color: whitesmoke;
}

.Homeheading>h3 {
    margin-left: -30px;
    font-size: 2rem;
    opacity: .6;
}

.Homeheading>h1 {
    margin-top: 5px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 700;
    color: rgba(255, 110, 85, 0.897);
}

.HomeSkills>h3 {
    margin-left: -30px;
    font-size: 1.5rem;
    opacity: .7;
}

.HomeSkills>h4 {
    margin-top: 5px;
    margin-left: -50px;
    letter-spacing: 2px;
    font-size: 2rem;
    color: rgba(145, 252, 124, 0.774);
}

.HomeSkills h4 {
    overflow: hidden;
    border-right: .15em solid rgba(35, 216, 192, 0.747);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 2.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgba(36, 229, 243, 0.836);
    }

}

.HomeSocial {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-left: -40px;
}

.SocialContainer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.644);
    transition: linear ease 1s;
}

.SocialContainer:hover {
    background-color: rgba(13, 194, 207, 0.747);
    transform: translateY(4px);
    transition: 0.5s;
    width: 60px;
    height: 60px;
}

@media only screen and (max-width: 900px) {
    .home {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }

    .left>img {
        height: 50vh;
        border-radius: 50%;
    }

    .Homeheading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Homeheading>h3 {
        margin: 0;
        font-size: 1.5rem;
    }

    .Homeheading>h1 {
        margin: 0;
        font-size: 2rem;
    }

    .HomeSkills {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100vw;
    }

    .HomeSkills>h3 {
        margin: 0;
    }

    .HomeSkills>h4 {
        margin: 0;
        font-size: 1.3rem;
    }
}