.hamburgerItems {
    display: none;
}

.hamburgerOpen {
    position: absolute;
    z-index: 10000;
    right: -10px;
    display: flex;
    top: 20px;
    gap: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(24, 22, 22, 0.877);
    height: 35vh;
    width: 40%;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    background: rgba(0, 0, 0, 0.185);
    border-radius: 50px;
}

.hamburgerOpen>h3 {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color .4s ease;
}

.hamburgerOpen>h3:active {
    color: rgba(42, 214, 93, 0.719);
}