@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
}

.lazyload{
  background-color: black;
  height: 100vh;
  width: 100vw;
}